*{
    margin: 0;
    padding: 0;
}
.header-menu{
    background: #1B9CFC;
}
.header-menu ul li{
    display: inline-block;
    margin-left: -30px;
}
.header-menu ul{
    text-align: center;
}
.header-menu ul li a{
    color: #ddd;
    padding: 15px 40px;
    display: inline-block;
    text-decoration:none;
    font-size: 20px;
    border-right: 1px solid #ddd;
}
.header-menu ul li:first-child a{
    border-left: 1px solid #ddd;
}
    .header-menu ul li:hover > a{
        background-color: #2C3A47;
    }

/* Dropdown menu */
.header-menu ul li ul{
    position: absolute;
    left: 0;
    top: 100%;
    width: 300px;
    background: #58B19F;
    border-top: 1px solid #ddd;
    transition: .4s;

}
.header-menu ul li{
    position: relative;
}
.header-menu ul li ul li{
    display: block;
    margin-left:0;
}
.header-menu ul li ul li a{
    display: block;
    border: none;
    border-bottom: 1px solid #ddd;
}
.header-menu ul ul li:first-child a{
    border-left:none;
}
/* Hover Part */
.header-menu ul li ul{
    opacity: 0;
    visibility: hiden;
    transform: scaleY(0);
    transform-origin: top center;
    
}
.header-menu ul li:hover ul{
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
}

h2{
    margin: 100px 70px;
    color: #5758BB;
   
}
/* social menu */
.socialmenu{
    margin-top: 100px;
    margin-bottom: 100px;
}
.socialmenu ul{
  
    text-align: center;
}
.socialmenu ul li{
    display: inline-block;
}
.socialmenu ul li a{
    color: #ddd;
    background: #8c7ae6;
    margin-left: -5px;
    font-size: 50px;
   
    margin-left: 5px;
    margin-right: 5px;
    height:100px;
    width:100px;
    display:inline-block;
    line-height:100px;
    border-radius:50%;
    
}